/* Global Styling */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}

/* Heading Styling */
h2.mainHeading{
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	padding: 20px 0;
}

/* Sections */

section.items{
	float: left;
	background-color: #91dede;
	color: #222;
	padding: 0 0 10px 10px;
	border: 1px solid #222;
}

section.items h3{
	padding: 10px;
	float: right;
	border-left: 1px solid #222;
	border-bottom: 1px solid #222;
	width: 30%;
	text-align: center;
	margin-bottom: 10px;
}

section.items:nth-child(2) h3{
	background-color: #61b1eac2;
}

section.items:nth-child(3) h3{
	background-color: #ea9a61c2;
}


section.items:nth-child(4) h3{
	background-color: #9c61eac2;
}


section.items p{
	clear: both;
}

/* Media For Disktop */

@media (min-width: 992px){
	section.items{
		width: 31%;
		margin: 1%;
	}
}

/* Media For Tablets */

@media (min-width: 768px) and (max-width: 991px) {
	section.items{
		width: 48%;
		margin: 1%;
	}

	section.special{
		width: 98%;
	}
}

/* Media For Tablets */

@media (max-width: 767px){
	section.items{
		width: 98%;
		margin: 1%;
	}
}